[user]
    name = Tomasz Górecki
    email = tomasz.gorecki@protonmail.com

[alias]
    confirm = auto
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
    editor = nvim
    pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	side-by-side = true
	navigate = false
	light = false
	hyperlinks = true
	true-color = always
	features = unobtrusive-line-numbers decorations

[credential]
    helper = cache --timeout=3600000

[pager]
    diff2 = less -R --tabs=1,5 -F -X

[merge]
    conflictstyle = diff3

[mergetool]
    prompt = false

[pull]
    ff = true
    rebase = true

[rebase]
	autoSquash = true
	autoStash = true

[push]
    default = current

[advice]
	skippedCherryPicks = false

[rerere]
    enabled = true

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[sendemail]
    confirm = auto

[diff]
    colorMoved = default
